@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
#app {
  min-height: 100vh;
}
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #eeeeee;
}
nav {
  width: 100%;
  height: 75px;
  background-color: #b03f3a;
  color: white;
  position: sticky;
}
header {
  box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
  position: sticky;
  top: 0px;
  z-index: 10;
}
nav ul .notitle{
  float: right;
  padding-right: 20px;
}
nav ul li {
  list-style: none;
  display: inline-block;
  line-height: 75px;

}
nav ul li a {
  display: block;
  text-decoration: none;
  font-size: 24px;
  color: white;
  padding: 0 20px;
  transition: 0.5s;
}
nav ul li a:hover {
  color: whitesmoke;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
    background: #b34e49;
}
nav ul li .title {
  float: left;
  padding-left: 20px;
}
.landing {
  background: url('land.jpg');
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}
.box3 {
    background: url('box3.jpg');
}
.box2 {
    background: url('box2.jpg');
}
.box h1 {
  font-size: 70px;
  text-transform: uppercase;
  margin: 0 0 20px;
  z-index: 2;
  color: white;
}
.box {
  position: relative;
  max-width: 600px;
  padding: 50px;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  overflow: hidden;
  color: #ffffff;
  z-index: 3;
}
.box:before {
  content: '';
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  background: #ffffff;
  color: white;
  background: url('land.jpg');
  background-attachment: fixed;
  filter: blur(4px);
  z-index: -1;
}
.main1 {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
}
.box1 {
  margin: auto;
  justify-content: center;
  align-items: center;

}
.box1 h1{
  font-family: 'Courgette', cursive;
  text-align: center;
}
.box1 h3{
  color: rgb(185, 185, 185);
}
.box-text {
  width: 1fr;
  word-wrap:break-word;
}
.box1 .btn {
  margin: auto;
  text-align: center;
  position: relative;
  left: 30%;
  background: none;
  color: #cccccc;
  width: 160px;
  height: 52px;
  border: 2.5px solid #8a2727;
  color:black;
  font-size: 18px;
  border-radius: 4px;
  overflow: hidden;
  transition: 0.5s;
}
.btn:hover {
  background: #8a2727;
  color: white;
}
.btn:active {
  background: #bb4e4e;
  color: white;
  transition: 0.25s;
}
.footer { 	
  width: 100%; 	
  background: #8a2727; 	
  display: block; 
} 
.inner-footer { 	
  width: 95%; 	
  margin: auto; 	
  padding: 30px 10px; 	
  display: flex; 	
  flex-wrap: wrap; 	
  box-sizing: border-box; 	
  justify-content: center; 
} 
.footer-items { 	
  width: 25%; 	
  padding: 10px 20px; 
  box-sizing: border-box; 
} 
.inner-footer h1 { 	
  padding: 10px 0; 	
  font-size: 25px; 	
  color: #fff; 	
  text-transform: uppercase; 
} 
.footer-items p { 	
  color: whitesmoke; 	
  font-size: 16px; 	
  text-align: justify; 	
  line-height: 25px; 
} 
.inner-footer h2 { 	
  margin: 10px 0; 	
  color: whitesmoke; 	
  font-size: 16px; 	
  font-weight: lighter; 	
  text-transform: uppercase; 
} 
.border { 	
  height: 2px; 	
  width: 40px; 	
  background: #ff9800; 
} 
.inner-footer ul {
  list-style: none; 	
  color: #fff; 	
  font-size: 15px; 
  letter-spacing: 0.5px; 
} 
.inner-footer ul a { 	
  text-decoration: none; 	
  outline: none; 	
  color: #fff; 	
  transition: 0.3s; 
} 
.inner-footer ul a:hover { 	
  color: #ff9800; 
} 
.inner-footer ul li { 
  margin: 10px 0; 	
  height: 25px; 
} 
.inner-footer li i { 	
  margin-right: 20px; 
} 
.social-media { 
  width: 100%; 	
  color: #fff; 	
  text-align: center; 
} 
.social-media a { 	
  text-decoration: none; 
} 
.social-media i { 	
  height: 15px; 	
  width: 15px; 	
  margin: 20px 5px; 	
  padding: 10px; 	
  color: #fff; 	
  border-radius: 50%; 	
  border: 1px solid grey; 	
  transition: 0.3s; 
} 
.social-media i:hover { 	
  background: grey; 
} 
.footer-bottom { 	
  padding: 10px; 	
  background: #3d545f; 	
  color: #fff; 	
  font-size: 12px; 
} 
.mini-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  min-height: 100vh;
  color: white;
  text-align: center;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}
.gal {
  background-color: #3d545f;
  grid-row: 1;
  grid-column: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.gal01 {
  background-color: #8a2727;
  grid-row: 1;
  grid-column: 1;
}
.gal02 {
  background: url(pizza.jpg) no-repeat center center; background-position: center; background-size: cover;
  grid-row: 1;
  grid-column: 2;
}
.gal1 {
  background-color: #8a2727;
  grid-row: 1;
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.gal11 {
  background-color: #8a2727;
  grid-row: 1;
  grid-column: 1;
}
.gal12 {
  background: url(pizza.jpg) no-repeat center center; background-position: center; background-size: cover;
  grid-row: 1;
  grid-column: 2;
}
.gal2 {
  background-color: #b03f3a;
  grid-row: 1;
  grid-column: 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.gal22 {
  background-color: #8a2727;
  grid-row: 1;
  grid-column: 1;
}
.gal21 {
  background: url(pizza.jpg) no-repeat center center; background-position: center; background-size: cover;
  grid-row: 1;
  grid-column: 2;
}
.gal3 {
  background-color: #b34e49;
  grid-row: 2;
  grid-column: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.gal31 {
  background-color: #8a2727;
  grid-row: 1;
  grid-column: 1;
}
.gal32 {
  background: url(pizza.jpg) no-repeat center center; background-position: center; background-size: cover;
  grid-row: 1;
  grid-column: 2;
}
.gal4 {
  background-color: #cccccc;
  grid-row: 2;
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.gal41 {
  background-color: #8a2727;
  grid-row: 1;
  grid-column: 1;
}
.gal42 {
  background: url(pizza.jpg) no-repeat center center; background-position: center; background-size: cover;
  grid-row: 1;
  grid-column: 2;
}
.gal5 {
  background-color: #ff9800;
  grid-row: 2;
  grid-column: 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.gal51 {
  background-color: #8a2727;
  grid-row: 1;
  grid-column: 1;
}
.gal52 {
  background: url(pizza.jpg) no-repeat center center; background-position: center; background-size: cover;
  grid-row: 1;
  grid-column: 2;
}